# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user data
xcuserdata/
*.xcuserstate

# Xcode build
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Cursor / IDE
.idea/
